* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}


body {

  background: goldenrod;
  display: flex;

}

*::-webkit-scrollbar {
  width: 10px;

}

*::-webkit-scrollbar-track {
  background: #252525;
}

*::-webkit-scrollbar-thumb {
  background-image: linear-gradient(270deg, rgba(187, 202, 207, 1) 0%, rgba(212, 236, 225, 1) 100%);
  background-size: auto;
  background-position: 0% 0%;
  background-repeat: repeat;
  border-radius: 20px;
  border: 3px solid #252525;


}



.mainimage {
  border-radius: 100%;
  width: 125px;
  height: 125px;
  border: aliceblue solid 1px;
  margin-bottom: 36px;
}



header h4 {
  margin-bottom: 45px;
  font-family: 'Source Code Pro', monospace;
  color: aliceblue;
}

header ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 20px;
  font-family: 'Source Code Pro', monospace;
}

header li {

  list-style: none;
  font-size: 17px;
  color: aliceblue;
  cursor: pointer;



}

header a {
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}

header {
  display: flex;
  background-size: cover;
  z-index: 1000;
  flex-direction: column;
  background: #333333;
  height: auto;
  width: 220px;
  padding-top: 30px;
  align-items: center;
  text-align: center;




}

.anula {
  position: fixed;
}



.git {
  background: none;

}

.contatos img {
  object-fit: contain;
  width: 20px;
  filter: invert(100%);
  cursor: pointer;
}

.contatos {
  padding-top: 30px;
}





.pUm {

  font-size: 25px;
  font-family: 'Source Code Pro', monospace;
}

.pDois {

  margin-top: -10px;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;


}


section spam {
  color: goldenrod;
}

section h1 {
  letter-spacing: 2px;


}

button {
  margin-top: 10px;
  cursor: pointer;
  padding: 10px 20px;
  background: aliceblue;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
}

#botao a {
  text-decoration: none;
  color: #252525;

}


::selection {
  background: rgb(25, 25, 25, 0.5);
}

.mainimage::selection {
  background: none;
}

.conteudos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}



.sections {
  width: 100%;
  display: flex;
  flex-direction: column;

}

#home {

  height: 100vh;
  background-image: url('./images/backmain.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  gap: 40px;
  color: aliceblue;
  animation: 1s;
  background-size: cover;

}



#sobre {

  font-family: 'Poppins', sans-serif;
  height: 100vh;
  padding: 15px;
  width: 100%;
  background: #252525;
  color: aliceblue;
  align-items: center;
  border-radius: 200px;
  -webkit-box-shadow: 0px 0px 74px 33px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: 0px 0px 74px 33px rgba(0, 0, 0, 0.84);
  box-shadow: 0px 0px 74px 33px rgba(0, 0, 0, 0.84);


}


#sobre h1 {
  text-align: center;
  margin-bottom: 50px;
  color: goldenrod;
  ;
}

#sobre h3 {
  text-align: center;
  margin-bottom: 20px;
}

#sobre p {
  margin-top: 10px;
  max-width: 800px;
  color: aliceblue;

}


.flex {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#sobre h3 span {
  color: goldenrod;
}

#projetos {
  background: goldenrod;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

#falecmg {
  background: #252525;
  height: 100vh;
  font-family: 'Poppins', sans-serif;

}

.falecmg h1 {
  text-align: center;
  color: aliceblue;
  margin-top: 30px;
}

.inputP {
  margin-top: 30px;
  width: auto;
  display: grid;
  justify-content: center;
  gap: 20px 20px;

}


.REDM {
  resize: vertical;
  width: 100%;
  height: 100px;
  resize: vertical;
  min-height: 30px;
}


.inputS {
  width: auto;
}

input